body {
    background: url(../img/Hospital6.jpg) fixed;
    background-size: cover;
}

.myNav .navbar {
    background-color: #f2f2f2 !important;
    opacity: 0.85 !important;
}

.form-container {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container1 {
    max-width: 700px !important;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container2 {
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container3 {
    max-width: fit-content;
    /* max-height: 3000px; */
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container4 {
    max-width: 800px;
    /* max-height: 3000px; */
    padding: 15px !important;
    margin: auto auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container5 {
    max-width: 450px !important;
    padding: 5px !important;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container6 {
    max-width: 200px !important;
    padding: 5px !important;
    /* margin: 0 auto; */
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container7 {
    max-width: 530px !important;
    padding: 5px !important;
    max-height: 620px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container8 {
    max-width: 500px;
    height: 620px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container9 {
    max-width: 800px;
    max-height: 600px;
    margin: auto auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container10 {
    max-width: 560px !important;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container11 {
    max-width: 500px;
    height: 550px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container12 {
    max-width: 550px !important;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container13 {
    width: 600px;
    height: 500px;
    max-height: 700px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container14 {
    max-width: 850px !important;
    height: 500px !important;
    padding: 5px !important;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: white;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 600px !important;
}

.form-container15 {
    max-width: 900px !important;
    padding: 5px !important;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

.form-container16 {
    max-width: 850px !important;
    height: 300px !important;
    padding: 5px !important;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: white;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: 600px !important;
}

.nav-item .navbar-nav .nav-link {
    color: wheat !important;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold !important;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}

*[role="form"] h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.control-label {
    text-align: left !important;
}

.required {
    color: rgb(117, 0, 0)
}

@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block !important;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

fieldset {
    overflow: hidden
}

.some-class {
    float: left;
    clear: none;
}

label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
}

input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}

.selectbox {
    -webkit-appearance: menulist-button;
    height: 50px;
}

.wrapper3 {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.alertMsg {
    color: rgb(116, 0, 0);
}