body {
    font-family: 'Poppins', sans-serif;
    background: url(../img/Hospital6.jpg) fixed;
    background-size: cover;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


/* Side Bar*/

#sidebar.active {
    margin-left: -250px;
}

.wrapper1 {
    display: flex;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #3d4042;
    opacity: 0.8;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #3d4042;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #3d4042;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #3d4042;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3d4042;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.bg-light {
    background: transparent !important;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.table {
    border-radius: 6px;
    counter-reset: row-num;
}

table tr {
    counter-increment: row-num;
}

.tablewrap {
    opacity: 0.85;
    height: 460px;
    width: 780px;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: auto;
    background-color: #FDFDFE !important;
    border-radius: 1%;
}

.tablewrap3 {
    opacity: 0.85;
    height: 410px;
    width: 480px;
    padding: 15px;
    margin: 0 auto;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: auto;
    background-color: #FDFDFE !important;
    border-radius: 1%;
}

.tablewrap4 {
    opacity: 0.85;
    max-height: 500px;
    max-width: 600px;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: auto;
    background-color: #FDFDFE !important;
    border-radius: 1%;
}

.tablewrap5 {
    opacity: 0.85;
    height: 330px;
    width: 480px;
    padding: 15px;
    margin: 0 auto;
    overflow-x: scroll;
    overflow-y: scroll;
    /* margin: auto; */
    background-color: #FDFDFE !important;
    border-radius: 1%;
}


/* ::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: white
}

.wrapper2 {
    padding: 50px;
    text-align: center;
}

h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
} */

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
    background: rgb(204, 204, 204);
}

::-webkit-scrollbar-thumb:vertical {
    background: #3d4042;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
    background: #3d4042;
    border-radius: 10px;
}

.table-dark td {
    vertical-align: middle;
}

.wrapper2 {
    margin: 0 auto !important;
    padding: 0%;
    text-align: center;
}

.wrapper3 {
    margin: 0 auto !important;
    padding: 0%;
    text-align: center;
}


/* h1 {
    background-color: !important;
    opacity: 0.8;
    padding: 0%;
    display: inline-block;
} */

@media only screen and (max-width: 800px) {
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
        /* max-height: 500px;
        max-width: 600px;
        overflow-x: scroll;
        overflow-y: scroll; */
    }
    #no-more-tables,
    #no-more-tables table {
        padding-left: 0;
        padding-right: 0;
        /* max-height: 500px;
        max-width: 600px; */
        /* overflow-x: scroll;
        overflow-y: scroll; */
    }
    #no-more-tables tr {
        border-bottom: 1px solid #eee;
    }
    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        white-space: normal;
        text-align: left;
        padding: 1px 8px;
        /* max-height: 500px;
        max-width: 600px; */
        /* overflow-x: scroll;
        overflow-y: scroll; */
    }
    #no-more-tables td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 100%;
        padding-right: 10px;
        /* white-space: nowrap; */
        text-align: left;
        /* font-weight: bold;
        max-height: 500px;
        max-width: 600px; */
        /* overflow-x: scroll;
        overflow-y: scroll; */
    }
}

.table-responsive {
    overflow-y: auto;
}