body {
    background: url({{url_for('static',filename='../img/Hospital6.jpg')
}


}
) fixed;
background-size: cover;

}
.myNav .navbar {
    background-color: #f2f2f2 !important;
    opacity: 0.85 !important;
}
.form-container {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}
.nav-item .navbar-nav .nav-link {
    color: wheat !important;
}
h2 {
    font-family: 'Open Sans',
    sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold !important;
}
*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
    opacity: 0.83;
    box-shadow: 0px 0px 10px 0px #000;
}
*[role="form"] h2 {
    font-family: 'Open Sans',
    sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.control-label {
    text-align: left !important;
}
.required {
    color: rgb(117,
    0,
    0)
}
@media only screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block !important;
    }
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}