<!DOCTYPE html>
<html>

<head>
    <title>HIS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>


    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}"> -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="../static/css/style2.css" rel="stylesheet">



    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
</head>

<body>


    <div class="wrapper1">

        <nav id="sidebar">

            <div class="sidebar-header">
                <h3>Admin panel</h3>
            </div>
            <ul class="lisst-unstyled components">


                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Records</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="http://127.0.0.1:5000/AdminPanel/PatientRecords">Patient Records</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/AdminPanel/DoctorRecords">Doctor Records</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/AdminPanel/DeviceRecords">Device Records</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Add</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="http://127.0.0.1:5000/AdminPanel/AddDoctor">Add Doctor</a>
                        </li>

                        <li>
                            <a href="http://127.0.0.1:5000/AdminPanel/AddDevice">Add Device</a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/AdminPanel/AdminUpdate">Update</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/AdminPanel/AdminAppointments">Appointments</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/AdminPanel/StatisticalAnalysis">Statistical Analysis</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/SignOut">Sign Out</a>
                </li>




            </ul>
        </nav>



        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn  btn-secondary">
  			<i class="fas fa-align-left"></i>
  			
  			
  		</button>
                </div>
            </nav>


            <br>
            <div>
                <br>
                <br>
                <div class="form-container12">
                    <div class=wrapper2>
                        <h1>Doctor's Appointments</h1>
                        <div id=" no-more-tables">
                            <table class="table table-stripped table-light table-responsive col-lg-12 table-hover">
                                <thead>
                                    <tr>

                                        <th scope="col">Doctor Name</th>
                                        <th scope="col">Patient Name</th>
                                        <th scope="col">Appointment Date</th>
                                        <th scope="col">Appointment Time</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for data in app %}
                                        <tr>

                                            <td>{{data.5}}</td>
                                            <td>{{data.0}}</td>
                                            <td>{{data.3}}</td>
                                            <td>{{data.4}}</td>



                                        </tr>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js "></script>
    <!-- <script src="../static/javascript/js/bootstrap.js"></script> -->
    <script src="{{ url_for('static', filename='javascript/js/bootstrap.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>

    <script>
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>


</body>

</html>