<!DOCTYPE html>
<html>

<head>
    <title>HIS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/style2.css"> -->
</head>

<body>


    <div class="wrapper1">

        <nav id="sidebar">

            <div class="sidebar-header">
                <h3>Admin panel</h3>
            </div>
            <ul class="lisst-unstyled components">


                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Records</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="http://127.0.0.1:5000/PatientRecords">Patient Records</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/DoctorRecords">Doctor Records</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/DeviceRecords">Device Records</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Add</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="http://127.0.0.1:5000/AddDoctor">Add Doctor</a>
                        </li>

                        <li>
                            <a href="#">Add Device</a>
                        </li>


                    </ul>
                </li>
                <li>
                    <a href="#">Update</a>
                </li>
                <li>
                    <a href="#">Appointments</a>
                </li>
                <li>
                    <a href="#">Statistical Analysis</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/">Sign Out</a>
                </li>




            </ul>
        </nav>



        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn  btn-secondary">
  			<i class="fas fa-align-left"></i>
  			
  			
  		</button>
                </div>
            </nav>

            <br><br>
            <div class=form-container4>
                <div class=wrapper2>
                    <h1>Device Records</h1>
                    <div class=tablewrap>
                        <table class="table table-stripped table-light table-hover">
                            <thead>
                                <tr>


                                    <th scope="col">Serial number</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">No. of dialysis/day</th>
                                    <th scope="col">Last maintenance</th>
                                    <th scope="col">Upcoming maintenance</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">7</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">10</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">11</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">12</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                    <td>Jacob</td>
                                    <td>ali</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">14</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">15</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                <tr>
                                    <th scope="row">16</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">17</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">18</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="line"></div>








        </div>


    </div>








    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>

    <script>
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>


</body>

</html>