<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HIS</title>
    <style type="text/css">
        @media only screen and (min-width: 768px) {
            .dropdown:hover .dropdown-menu {
                display: block;
            }
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/style2.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css/bootstrap.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/css/bootstrap.css"> -->
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script> -->

</head>

<body>
    <div class="container-fluid bg">
        <div class="myNav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="img/logo.svg">HIS</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/PatientSignUp">Sign up</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Sign in
                            </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="http://127.0.0.1:5000/PatientSignIn">patient</a>
                                        <li><a class="dropdown-item" href="http://127.0.0.1:5000/DoctorSignIn">Doctor</a></li>
                                        <li><a class="dropdown-item" href="http://127.0.0.1:5000/AdminSignIn">Admin</a></li>
                                </ul>
                                </li>



                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <br>
    <style scoped>
        @import url("//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
        @import url("//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");
    </style>
    <br>
    <form class="form-horizontal" role="form" method="post" action="http://127.0.0.1:5000/PatientSignUp">
        <h2>Sign Up</h2>
        <img src="{{url_for('static', filename='img/Patient.svg')}}" alt="Patient" class="center" height="90" width="105" />
        <!-- <img src="../static/img/Patient.svg" alt="Patient" class="center" height="90" width="105" /> -->
        <br>
        <div class="form-group">
            <label for="PatientFname" class="col-sm-3 control-label">First Name <span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="text" id="PatientFname" placeholder="First Name" class="form-control" name="PatientFname" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="PatientLname" class="col-sm-3 control-label">Last Name<span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="text" id="PatienLname" placeholder="Last Name" class="form-control" name="PatientLname" autofocus>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-3">Gender<span class="required">*</span></label>
            <div class="col-sm-6">
                <div class="row">
                    <div class="radio">
                        <div class="col-sm-4">
                            <label><input type="radio" class="radio" name="PatientGender" value="Female" id="Female" >Female</label>
                        </div>
                    </div>
                    <div class="radio">
                        <div class="col-sm-4">
                            <label><input type="radio" class="radio" name="PatientGender" value="Male" id="Male">Male</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="PatientBD" class="col-sm-3 control-label">Date of Birth<span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="date" name="PatientBD" id="PatientBD" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="PatientSSN" class="col-sm-3 control-label">Social Security Number<span class="required">*</span> </label>
            <div class="col-sm-9">
                <input type="number" name="PatientSSN" id="PatientSSN" placeholder="SSN" class="form-control">

            </div>
        </div>

        <div class="form-group">
            <label for="PatientMaritalStat" class="col-sm-3 control-label">Marital Status</label>
            <div class="col-sm-9">
                <select class="form-control  form-control-lg" name="PatientMaritalStat" id="PatientMaritalStat">
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Widowed">Widowed</option>
                            <option value="Divorced">Divorced</option>
                        </select>
            </div>
        </div>
        <div class="form-group">
            <label for="PatientHeight" class="col-sm-3 control-label">Height<span class="required">*</span> </label>
            <div class="col-sm-9">
                <input type="number" name="PatientHeight" id="PatientHeight" placeholder="Please write your height in centimetres" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="PatientWeight" class="col-sm-3 control-label">Weight<span class="required">*</span> </label>
            <div class="col-sm-9">
                <input type="number" name="PatientWeight" id="PatientWeight" placeholder="Please write your weight in kilograms" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="PatientBloodGrp" class="col-sm-3 control-label">Blood Group<span class="required">*</span></label>
            <div class="col-sm-9">
                <select class="form-control  form-control-lg" name="PatientBloodGrp" id="PatientBloodGrp">
                            <option value="A">A</option>
                            <option Value="B">B</option>
                            <option Value="AB">AB</option>
                            <option Value="O">O</option>
                        </select>
            </div>
        </div>
        <div class="form-group">
            <label for="PatientPhone" class="col-sm-3 control-label">Phone number<span class="required">*</span> </label>
            <div class="col-sm-9">
                <input type="phoneNumber" name="PatientPhone" id="PatientPhone" placeholder="Phone number" class="form-control">

            </div>
        </div>


        <div class="form-group">
            <label for="PatientEmail" class="col-sm-3 control-label">Email </label>
            <div class="col-sm-9">
                <input type="email" name="PatientEmail" id="PatientEmail" placeholder="Email" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="PatientPass" class="col-sm-3 control-label">Password<span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="password" name="PatientPass" id="PatientPass" placeholder="Password" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="ConfirmPatientPass" class="col-sm-3 control-label">Confirm Password<span class="required">*</span></label>
            <div class="col-sm-9">
                <input type="password" name="PatientPass" id="ConrifmPatientPass" placeholder="Password" class="form-control">
            </div>
        </div>






        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <span class="help-block"><span class="required">*</span>Required fields</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
    </form>
    <br>
    <br>

    </div>

    <script src="{{ url_for('static', filename='javascript/js/bootstrap.js') }}"></script>
    <!-- <script src="../static/javascript/js/bootstrap.js"></script> -->

</body>

</html>