<!DOCTYPE html>
<html>

<head>
    <title>HIS</title>
    <!-- <link rel="icon" href="../static/img/kidney.svg" type="image/x-icon"> -->
    <link rel="icon" href="{{url_for('static', filename='img/kidney.svg')}}" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <!-- <link href="../static/css/style2.css" rel="stylesheet"> -->
    <style>
        .form-container11:hover {
            background-color: rgb(255, 255, 255);
            opacity: 0.9;
        }
    </style>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
</head>

<body>


    <div class="wrapper1">

        <nav id="sidebar">

            <div class="sidebar-header">
                <h3>Patient Panel</h3>
            </div>
            <ul class="lisst-unstyled components">


                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profile</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="http://127.0.0.1:5000/PatientPanel/ViewPatientProfile">View Profile</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/PatientPanel/UpdatePatientProfile">Update Profile</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Appointments</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="http://127.0.0.1:5000/PatientPanel/PatientAddAppoint">Add Appointment</a>
                        </li>

                        <li>
                            <a href="http://127.0.0.1:5000/PatientPanel/PatientViewAppoints">View Appointments</a>
                        </li>



                    </ul>
                </li>

                <li>
                    <a href="http://127.0.0.1:5000/PatientPanel/PatientViewShifts">View doctor shifts</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/PatientPanel/PatientMedicalHistory">Medical History</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/PatientPanel/PatientAddTestResults">Add Test Results</a>
                </li>

                <li>
                    <a href="http://127.0.0.1:5000/PatientPanel/PatientContactUs">Contact Us</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/SignOut">Sign Out</a>
                </li>




            </ul>
        </nav>



        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn  btn-secondary">
  			<i class="fas fa-align-left"></i>
  			
  			
  		</button>
                </div>
            </nav>



            <br>
            <br>


            <div>
                <div class="row">
                    <div class="col-lg">
                        <div>
                            <form enctype="multipart/form-data" class="form-container11" method="POST" role="form" action="http://127.0.0.1:5000/PatientPanel/PatientAddTestResults">




                                <h2>Add Test Result</h2>

                                <img src="../static/img/addFile.svg" alt="addTest" class="center" height="87" width="100" />
                                <!-- <img src="{{url_for('static', filename='img/addFile.svg')}}" alt="addTest" class="center" height="87" width="100" /> -->

                                <br>


                                <div class="row">
                                    <div class="col-lg">
                                        <input type="file" class="form-control" id="TestFile" name="photo" required>

                                    </div>
                                </div>


                                <br>
                                <br>
                                <button type="submit" class="btn btn-secondary col-12">Upload Test</button>



                            </form>
                        </div>

                    </div>
                    <br>


                </div>
            </div>

        </div>
    </div>








    <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js "></script>
    <!-- <script src="../static/javascript/js/bootstrap.js "></script> -->
    <script src="{{ url_for( 'static', filename='javascript/js/bootstrap.js' ) }} "></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>

    <script>
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>


</body>

</html>