<!DOCTYPE html>
<html>

<head>
    <title>HIS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/style.css">
    <link href="../static/css/style2.css" rel="stylesheet"> -->



    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
</head>

<body>


    <div class="wrapper1">

        <nav id="sidebar">

            <div class="sidebar-header">
                <h3>Patient Panel</h3>
            </div>
            <ul class="lisst-unstyled components">


                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profile</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="127.0.0.1:5000/PatientRecords">View Profile</a>
                        </li>
                        <li>
                            <a href="127.0.0.1:5000/DoctorRecords">Update Profile</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Appointments</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="127.0.0.1:5000/AddDoctor">Add Appointment</a>
                        </li>

                        <li>
                            <a href="127.0.0.1:5000/AddDevice">View Appointments</a>
                        </li>



                    </ul>
                </li>
                <li>
                    <a href="127.0.0.1:5000/">Sign Out</a>
                </li>




            </ul>
        </nav>



        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn  btn-secondary">
  			<i class="fas fa-align-left"></i>
  			
  			
  		</button>
                </div>
            </nav>


            <br>
            <br>
            <div>
                <div class="form-container5">




                    <h2>Welcome To Your Profile!</h2>
                    <img src="{{url_for('static', filename='img/Patient.svg')}}" alt="Doctor" class="center" height="87" width="100" />
                    <!-- <img src="../static/img/Patient.svg" alt="Doctor" class="center" height="87" width="100" /> -->
                    <br>
                    <br>


                </div>
            </div>
        </div>


    </div>







    <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js "></script>
    <script src="../static/javascript/js/bootstrap.js"></script>
    <!-- <script src="{{ url_for('static', filename='javascript/js/bootstrap.js') }}"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>

    <script>
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>


</body>

</html>