<!DOCTYPE html>
<html>

<head>
    <title>HIS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
    <!-- <link href="../static/css/style2.css" rel="stylesheet"> -->



    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
</head>

<body>


    <div class="wrapper1">

        <nav id="sidebar">

            <div class="sidebar-header">
                <h3>Patient Panel</h3>
            </div>
            <ul class="lisst-unstyled components">


                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profile</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="http://127.0.0.1:5000/PatientPanel/ViewPatientProfile">View Profile</a>
                        </li>
                        <li>
                            <a href="http://127.0.0.1:5000/PatientPanel/UpdatePatientProfile">Update Profile</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Appointments</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="http://127.0.0.1:5000/PatientPanel/PatientAddAppoint">Add Appointment</a>
                        </li>

                        <li>
                            <a href="http://127.0.0.1:5000/PatientPanel/PatientViewAppoints">View Appointments</a>
                        </li>



                    </ul>
                </li>

                <li>
                    <a href="http://127.0.0.1:5000/PatientPanel/PatientScan">Scans</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:5000/">Sign Out</a>
                </li>




            </ul>
        </nav>



        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn  btn-secondary">
  			<i class="fas fa-align-left"></i>
  			
  			
  		</button>
                </div>
            </nav>




            <br>

            <div>
                <div>
                    <form role="form" method="POST" action="" class="form-container1">




                        <h2>Update Profile</h2>

                        <img src="../static/img/update.svg" alt="Profile" class="center" height="87" width="100" />
                        <!-- <img src="{{url_for('static', filename='img/update.svg')}}" alt="Profile" class="center" height="87" width="100" /> -->

                        <br>
                        <div class="row">
                            <div class="col-md">
                                <label for="PatientFname" class="form-label">First Name</label>
                                <input type="text" class="form-control" placeholder="Enter First Name" name="PatientFname" id="PatientFname">
                            </div>
                            <div class="col-md">
                                <label for="PatientLname" class="form-label">Last Name</label>
                                <input type="text" class="form-control" placeholder="Enter Last Name" name="PatientLname" id="PatientLname">
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-md">
                                <label for="PatientGender" class="form-label">Gender</label>
                                <select name="PatientGender" class="form-control" id="PatientGender">
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                    
                                  </select>
                            </div>
                            <div class="col-md">
                                <label for="PatientBD" class="form-label">Date Of Birth</label>
                                <input type="date" class="form-control" name="PatientBD" id="PatientBD">
                            </div>
                        </div>
                        <br>

                        <div class="row">

                            <div class="col-md">
                                <label for="PatientSSN" class="form-label">Social Security Number</label>
                                <input type="number" class="form-control" placeholder="Enter SSN" name="PatientSSN" id="PatientSSN">
                            </div>
                            <div class="col-md">
                                <label for="PatientMaritalStat" class="form-label">Marital Stats</label>
                                <select name="PatientMaritalStat" class="form-control" id="PatientMaritalStat">
                                    <option value="Single">Single</option>
                                    <option value="Married">Married</option>
                                    <option value="Widowed">Widowed</option>
                                    <option value="Divorced">Divorced</option>
                                  </select>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md">
                                <label for="PatientHeight" class="form-label">Height</label>
                                <input type="number" class="form-control" placeholder="Enter Height" name="PatientHeight" id="PatientHeight">
                            </div>
                            <div class="col-md">
                                <label for="PatientWeight" class="form-label">Weight</label>
                                <input type="number" class="form-control" placeholder="enter weight" name="PatientWeight" id="PatientWeight">
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-md">
                                <label for="PatientBloodGrp" class="form-label">Blood Group</label>
                                <select name="PatientBloodGrp" class="form-control" id="PatientBloodGrp">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="AB">AB</option>
                                    <option value="O">O</option>
                                  </select>
                            </div>
                            <div class="col-md">
                                <label for="PatientPhone" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Enter Phone Number" name="PatientPhone" id="PatientPhone">
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md">
                                <label for="PatientEmail" class="form-label">Email</label>
                                <input type="email" class="form-control" placeholder="Enter Email" name="PatientEmail" id="PatientEmail">
                            </div>
                            <div class="col-md">
                                <label for="PatientPass" class="form-label">Password</label>
                                <input type="password" class="form-control" placeholder="Enter Password" name="PatientPass" id="PatientPass">
                            </div>
                        </div>


                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary btn-block">Update Profile</button>

                    </form>
                    <br>




                    <!-- <a href="http://127.0.0.1:5000/AdminPanel/AddDoctor" class="btn btn-primary col-12">Submit</a> -->
                    <!-- <a href="AddDoctor.html" class="btn btn-primary col-12">Submit</a> -->
                </div>
            </div>
        </div>
    </div>


    </div>







    <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.min.js "></script>
    <!-- <script src="../static/javascript/js/bootstrap.js"></script> -->
    <script src="{{ url_for('static', filename='javascript/js/bootstrap.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>

    <script>
        $(document).ready(function() {
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>


</body>

</html>